body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1066px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1480px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:1066px;
  height:1480px;
}
#u206 {
  position:absolute;
  left:2px;
  top:732px;
  width:1062px;
  visibility:hidden;
  word-wrap:break-word;
}
