body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u210 {
  position:absolute;
  left:2px;
  top:367px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:44px;
}
#u211 {
  position:absolute;
  left:613px;
  top:110px;
  width:215px;
  height:44px;
}
#u212 {
  position:absolute;
  left:2px;
  top:14px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:41px;
}
#u213 {
  position:absolute;
  left:536px;
  top:298px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u214 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u215 {
  position:absolute;
  left:548px;
  top:310px;
  width:16px;
  height:16px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:41px;
}
#u217 {
  position:absolute;
  left:536px;
  top:361px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u218 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u219 {
  position:absolute;
  left:548px;
  top:373px;
  width:16px;
  height:16px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u221 {
  position:absolute;
  left:566px;
  top:274px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u222 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u223 {
  position:absolute;
  left:866px;
  top:274px;
  width:24px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u224 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u225 {
  position:absolute;
  left:536px;
  top:427px;
  width:16px;
  height:16px;
}
#u226 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
}
#u227 {
  position:absolute;
  left:552px;
  top:424px;
  width:65px;
  height:22px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u228 {
  position:absolute;
  left:8px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:41px;
}
#u229 {
  position:absolute;
  left:536px;
  top:469px;
  width:368px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u230 {
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:25px;
}
#u231 {
  position:absolute;
  left:536px;
  top:338px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u232 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u233 {
  position:absolute;
  left:549px;
  top:312px;
  width:16px;
  height:16px;
  font-family:'anticon Regular', 'anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:25px;
}
#u235 {
  position:absolute;
  left:536px;
  top:399px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u237 {
  position:absolute;
  left:550px;
  top:374px;
  width:14px;
  height:14px;
}
#u238 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:30px;
}
#u239 {
  position:absolute;
  left:671px;
  top:697px;
  width:265px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u240 {
  position:absolute;
  left:4px;
  top:8px;
  width:261px;
  white-space:nowrap;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u241 {
  position:absolute;
  left:659px;
  top:710px;
  width:12px;
  height:12px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u242 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u243 {
  position:absolute;
  left:593px;
  top:697px;
  width:69px;
  height:29px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.447058823529412);
  line-height:21px;
}
#u244 {
  position:absolute;
  left:0px;
  top:8px;
  width:65px;
  white-space:nowrap;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:49px;
}
#u245 {
  position:absolute;
  left:706px;
  top:628px;
  width:48px;
  height:48px;
  opacity:0;
  color:#FFFFFF;
}
#u246 {
  position:absolute;
  left:2px;
  top:16px;
  width:44px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u247 {
  position:absolute;
  left:718px;
  top:726px;
  width:24px;
  height:24px;
  opacity:0;
  font-size:8px;
  color:#FFFFFF;
}
#u248 {
  position:absolute;
  left:2px;
  top:7px;
  width:20px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:206px;
}
#u249 {
  position:absolute;
  left:993px;
  top:427px;
  width:390px;
  height:195px;
}
#u250 {
  position:absolute;
  left:10px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
