body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-100px;
  width:700px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u105 {
  position:absolute;
  left:100px;
  top:100px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:100px;
  top:151px;
  width:705px;
  height:95px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u109 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u110 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:31px;
}
#u112 {
  position:absolute;
  left:200px;
  top:0px;
  width:400px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u113 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u114 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
}
#u115 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u116 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u117 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u118 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u119 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:31px;
}
#u120 {
  position:absolute;
  left:200px;
  top:30px;
  width:400px;
  height:30px;
  text-align:left;
}
#u121 {
  position:absolute;
  left:20px;
  top:7px;
  width:378px;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u122 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u123 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u124 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u125 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u126 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:31px;
}
#u128 {
  position:absolute;
  left:200px;
  top:60px;
  width:400px;
  height:30px;
}
#u129 {
  position:absolute;
  left:2px;
  top:7px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:31px;
}
#u130 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
