body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:67px;
}
#u7105 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:65px;
  width:1376px;
  height:66px;
  font-family:'MalayalamMN', 'Malayalam MN';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7106 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:18px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:45px;
}
#u7107 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:87px;
  width:161px;
  height:44px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:28px;
}
#u7108 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u7109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:793px;
}
#u7109 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:162px;
  width:1309px;
  height:792px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u7110 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:16px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7111 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:369px;
  width:469px;
  height:1px;
}
#u7112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
}
#u7113 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:334px;
  width:54px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u7115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u7115 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:298px;
  width:43px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7116 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7117 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:457px;
  width:469px;
  height:1px;
}
#u7118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7119 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:383px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7121 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:630px;
  width:469px;
  height:1px;
}
#u7122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u7123 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:596px;
  width:89px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u7125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u7125 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:566px;
  width:43px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7127 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:705px;
  width:469px;
  height:1px;
}
#u7128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u7129 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:671px;
  width:129px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u7131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7131 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:641px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:143px;
}
#u7133 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:981px;
  width:385px;
  height:132px;
}
#u7134 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u7135 {
  position:absolute;
  left:111px;
  top:873px;
}
#u7135_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:289px;
  height:67px;
  background-image:none;
}
#u7135_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
}
#u7138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:224px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E74C3C;
  text-align:left;
}
#u7138_img.selected {
}
#u7138.selected {
}
#u7139 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7140 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:35px;
  width:35px;
  height:22px;
}
#u7141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7142 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:34px;
  width:122px;
  height:25px;
}
#u7142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7135_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:67px;
  visibility:hidden;
  background-image:none;
}
#u7135_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u7143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
}
#u7145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:224px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E74C3C;
  text-align:left;
}
#u7145_img.selected {
}
#u7145.selected {
}
#u7146 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7147 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:35px;
  width:35px;
  height:22px;
}
#u7148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7149 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:34px;
  width:122px;
  height:25px;
}
#u7149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7150 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:35px;
  width:35px;
  height:22px;
}
#u7151 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7135_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:335px;
  height:67px;
  visibility:hidden;
  background-image:none;
}
#u7135_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:17px;
}
#u7152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:41px;
}
#u7154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:224px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E74C3C;
  text-align:left;
}
#u7154_img.selected {
}
#u7154.selected {
}
#u7155 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7156 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:35px;
  width:35px;
  height:22px;
}
#u7157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7158 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:34px;
  width:122px;
  height:25px;
}
#u7158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u7159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7159 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:35px;
  width:35px;
  height:22px;
}
#u7160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7161 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:780px;
  width:469px;
  height:1px;
}
#u7162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:25px;
}
#u7163 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:746px;
  width:57px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7165 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:716px;
  width:29px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7167 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:861px;
  width:469px;
  height:1px;
}
#u7168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u7169 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:835px;
  width:91px;
  height:24px;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u7171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u7171 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:811px;
  width:29px;
  height:16px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7173_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:1385px;
  height:73px;
}
#u7173 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:1px;
  width:1376px;
  height:64px;
}
#u7174 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:1372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7175 {
  border-width:0px;
  position:absolute;
  left:1318px;
  top:21px;
  width:24px;
  height:24px;
}
#u7176 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:23px;
}
#u7177 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:22px;
  width:66px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u7178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7179_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-6px;
  width:77px;
  height:967px;
}
#u7179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:954px;
}
#u7180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:469px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:891px;
}
#u7181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:64px;
  height:890px;
}
#u7182 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:437px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u7183 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:17px;
  width:32px;
  height:32px;
}
#u7184 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u7185 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:94px;
  width:18px;
  height:17px;
}
#u7186 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  word-wrap:break-word;
}
#u7187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:111px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7189 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:143px;
  width:17px;
  height:17px;
}
#u7190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7193 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:239px;
  width:16px;
  height:16px;
}
#u7194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:255px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7197 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:287px;
  width:18px;
  height:18px;
}
#u7198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u7201 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:337px;
  width:17px;
  height:15px;
}
#u7202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:15px;
}
#u7203 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:192px;
  width:18px;
  height:15px;
}
#u7204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u7205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:64px;
  height:32px;
  color:#FFFFFF;
}
#u7206 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:33px;
}
#u7208 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:17px;
  width:77px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7209 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u7210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u7210 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:27px;
  width:12px;
  height:12px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
}
#u7211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u7212 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:54px;
  width:90px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F8C8D;
  text-align:left;
}
#u7212_img.mouseOver {
}
#u7212.mouseOver {
}
#u7213 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u7214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:29px;
}
#u7214 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:84px;
  width:90px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F8C8D;
  text-align:left;
}
#u7214_img.mouseOver {
}
#u7214.mouseOver {
}
#u7215 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u7216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u7216 {
  border-width:0px;
  position:absolute;
  left:1415px;
  top:28px;
  width:14px;
  height:13px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.449999988079071;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u7217 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u7218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:64px;
  height:34px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u7219 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7220 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:238px;
  width:18px;
  height:18px;
}
#u7221 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u7222 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:407px;
  width:103px;
  height:40px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#E74C3C;
  text-align:right;
}
#u7222_img.selected {
}
#u7222.selected {
}
#u7223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:25px;
}
#u7224 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:417px;
  width:29px;
  height:24px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.427450980392157);
  line-height:22px;
}
#u7225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u7226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7226 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:418px;
  width:35px;
  height:22px;
}
#u7227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:23px;
}
#u7228 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:418px;
  width:35px;
  height:22px;
}
#u7229 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  white-space:nowrap;
}
#u7230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u7230 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:182px;
  width:57px;
  height:16px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7232 {
  position:absolute;
  left:111px;
  top:208px;
}
#u7232_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  background-image:none;
}
#u7232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u7234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7232_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
  visibility:hidden;
  background-image:none;
}
#u7232_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u7235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  font-size:10px;
  color:#0099FF;
}
#u7236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:76px;
  word-wrap:break-word;
}
#u7237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:41px;
}
#u7237 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:505px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
  text-align:left;
}
#u7237_img.selected {
}
#u7237.selected {
}
#u7238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u7239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u7239 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:475px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:2px;
}
#u7241 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:555px;
  width:469px;
  height:1px;
}
#u7242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:465px;
  visibility:hidden;
  word-wrap:break-word;
}
