body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:1369px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1691px;
  height:1369px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:676px;
  width:1687px;
  visibility:hidden;
  word-wrap:break-word;
}
